	  body {
	  	overflow:hidden;
	  	background: #FFFFFF;
	  	width: 1280px;
	  	height: 720px;
	  }

	  .powered_by_container {
	  	position: relative;
	  }

	  #message {
	  	color: #7e7e7e;
	  	font-family: 'Roboto';
	  	text-transform: uppercase;
	  	display: inline-block;
	  	position: absolute;
	  	margin-left: 1070px;
	  	margin-top: 17px;
	  }

	  #izettle_logo {
	  	display: inline-block;
	  	position: absolute;
	  	margin-left: 92%;
	  	width: 80px;
	  	height: 50px;
	  }

	  ul.product_list {
	  	list-style: none;
	  	padding: 16px;
	  	margin: 0px;
	  }

	  .product_list_item {
	  	padding: 0;
	  	height: 88px;
	  	margin: 0px;
	  	margin-top: auto;
	  	margin-bottom: auto;
	  	border-bottom: solid 1px #D3D3D3;
	  }

	  .container {
	  	height: 100%;
	  	position: relative;
	  	vertical-align: middle;
	  }

	  .imgWrapper {
	  	display: inline-block;
	  	height: 80px;
	  	width: 10%;
	  	margin-left: auto;
	  	margin-right: auto;
	  	position: relative;
	  	vertical-align: middle;
	  	text-align: center;
	  	top: 50%;                         
	  	transform: translate(0, -50%);
	  }

	  img {
	  	display: inline-block;
	  	height: 80px;              
	  }

	  .product_title {
	  	margin-left: 8px;
	  	font-size: 28px;
	  	font-family: 'Roboto';
	  	text-transform: uppercase;
	  	text-align: left;
	  	position: absolute;       
	  	top: 50%;                         
	  	transform: translate(0, -50%);
	  }

	  .product_title_with_variant {
	  	margin-left: 8px;
	  	font-size: 28px;
	  	font-family: 'Roboto';
	  	text-transform: uppercase;
	  	text-align: left;
	  	position: absolute;       
	  	top: 40%;                         
	  	transform: translate(0, -40%);
	  }

	  .variantName {
	  	font-family: 'Roboto';
	  	text-transform: uppercase;
	  	color: #7e7e7e;
	  	position: absolute;
	  	top: 60%;
	  	margin-left: 8px;
	  }

	  .product_price {
	  	font-family: 'Roboto';
	  	font-size: 28px;
	  	display: inline-block;
	  	text-align: right;
	  	margin: 0;
	  	position: absolute;               
	  	top: 50%;                         
	  	transform: translate(0, -50%);
	  	right: 16px;

	  }

	  .center {
	  	height: 60px;	  
	  }